@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* fonts */
  --font-primary: var(--primary-font);
  --font-secondary: var(--secondary-font);

  /* colors */
  --color-black-100: var(--black-100);
  --color-black-200: var(--black-200);
  --color-black-300: var(--black-300);

  --color-grey-200: var(--grey-200);
  --color-grey-300: var(--grey-300);
  --color-grey-400: var(--grey-400);

  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);
  --color-blue-300: var(--blue-300);
  --color-blue-400: var(--blue-400);
  --color-blue-500: var(--blue-500);
  --color-blue-600: var(--blue-600);

  --color-purple-100: var(--purple-100);

  --color-red-100: var(--red-100);

  --color-green-100: var(--green-100);

  /* radiuses */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* shadow */
  --inset-shadow-doctor-card: 5px 5px 50px 0px oklch(0.2295 0.0522 249.16 / 10.98%);
  --inset-shadow-profile: 4px 0 8px -4px oklch(0.5443 0.0241 241.67 / 18.04%);
}

:root {
  /* colors */
  --black-100: oklch(25.6% 0.012 237.13);
  --black-200: oklch(39.52% 0.011 248.1);
  --black-300: oklch(49.53% 0.001 197.12);

  --grey-200: oklch(95.12% 0.003 247.86);
  --grey-300: oklch(95.32% 0.021 261.77);
  --grey-400: oklch(92.76% 0.006 264.53);

  --blue-100: oklch(62.97% 0.122 236.58);
  --blue-200: oklch(71.41% 0.097 223.29);
  --blue-300: oklch(55.72% 0.167 252.46);
  --blue-400: oklch(86.93% 0.094 219.94);
  --blue-500: oklch(78.44% 0.093 216.03);
  --blue-600: oklch(71.53% 0.099 225.51);

  --purple-100: oklch(54.16% 0.156 297.51);

  --red-100: oklch(63.07% 0.194 29.44);

  --green-100: oklch(64.15% 0.154 155.37);

  /* radiuses */
  --radius: 0.625rem;
}

.dark {
  /* colors */
  --black-100: oklch(25.6% 0.012 237.13);
  --black-200: oklch(39.52% 0.011 248.1);
  --black-300: oklch(49.53% 0.001 197.12);
  --blue-100: oklch(62.97% 0.122 236.58);
  --blue-200: oklch(71.41% 0.097 223.29);
  --blue-300: oklch(55.72% 0.167 252.46);
  --purple-100: oklch(54.16% 0.156 297.51);
  --red-100: oklch(63.07% 0.194 29.44);
  --green-100: oklch(64.15% 0.154 155.37);
}
